@if (Digits != null)
{
    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[0]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[1]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[2]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[3]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[4]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[5]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[6]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[7]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[8]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[9]" />
    </div>

    <div>
        <label for="isUnknown">Unknown</label>
        <input type="checkbox" id="isUnknown" />
        <br />
        <label for="numberInput">Digit</label>
        <input type="number" id="numberInput" min=0 max=9 @bind="@Digits[10]" />
    </div>

    <label>@Digits</label>
}

@code {
    [Parameter]
    public BarcodeObject? Digits { get; set; }
}
